*.class
*.log
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar
hs_err_pid*
*/.idea/*
*.iml
*.ipr
*.iws
target
sources
.*callgrind.out.*
graph.png
out.dot
out.perf-folded
perf.data
perf.svg
mandrel-perf-demo/test_data.txt
mandrel-perf-demo/test_data_1k.txt
mandrel-perf-demo/test_data_50k.txt
mandrel-perf-demo/test_data_big.txt
mandrel-perf-demo/test_data_small.txt
